xsd/cwf-2.1-clean.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 U (http://www.xmlspy.com) by Magnus Lenti (CINNOBUR FINANCIAL TECHNOLOGY AB) -->
<!--W3C Schema generated by XMLSPY v5 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:redefine schemaLocation="cwf-2.xsd">
    
    	<xs:complexType name="ViewDefinitions">
            <xs:complexContent>
                <xs:restriction base="ViewDefinitions">
            		<xs:choice minOccurs="0" maxOccurs="0">
            			<xs:element name="view" type="ViewDefinition"/>
            			<xs:element name="display" type="DisplayDefinition"/>
            		</xs:choice>
                </xs:restriction>
            </xs:complexContent>
    	</xs:complexType>
    
    </xs:redefine>
	
</xs:schema>
