xsd/cwf-2.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 U (http://www.xmlspy.com) by Magnus Lenti (CINNOBUR FINANCIAL TECHNOLOGY AB) -->
<!--W3C Schema generated by XMLSPY v5 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:redefine schemaLocation="cwf-2.1-clean.xsd">
        <xs:simpleType name="minor-version">
            <xs:restriction base="minor-version">
                <xs:maxInclusive value="1"/>
            </xs:restriction>
        </xs:simpleType>
    
    	<xs:complexType name="version">
            <xs:complexContent>
                <xs:restriction base="version">
            		<xs:attribute name="minor" type="minor-version" fixed="1" use="required"/>
                </xs:restriction>
            </xs:complexContent>
    	</xs:complexType>
        
    	<xs:complexType name="ViewDefinitions">
            <xs:complexContent>
                <xs:extension base="ViewDefinitions">
            		<xs:choice minOccurs="0" maxOccurs="unbounded">
            			<xs:element name="view" type="View"/>
            			<xs:element name="table-view" type="TableView">
            				<xs:annotation>
            					<xs:documentation>
            						Definition to display a table
            					</xs:documentation>
            				</xs:annotation>
            			</xs:element>
            			<xs:element name="tree-view" type="TreeView"/>
                        <xs:element name="form-view" type="FormView"/>
                        <xs:element name="search-view" type="SearchView"/>
            			<xs:element name="detail-view" type="DetailView"/>
                        <xs:element name="chart-view" type="ChartViewDefinition"/>
                        <xs:element name="iframe-view" type="IframeView"/>
            			<xs:element name="display" type="DisplayDefinition"/>
                        <xs:element name="modify-view"/>
            		</xs:choice>
                </xs:extension>
            </xs:complexContent>
    	</xs:complexType>
    	
    	<xs:complexType name="PerspectiveDefinition">
    		<xs:complexContent>
    			<xs:extension base="PerspectiveDefinition">
					<xs:attribute name="formFactor" default="desktop">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="desktop"/>
								<xs:enumeration value="tablet"/>
								<xs:enumeration value="mobile"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
    			</xs:extension>
    		</xs:complexContent>
    	</xs:complexType>
    
    </xs:redefine>
    
	<xs:complexType name="View">
		<xs:attribute name="id" type="view-id" use="required"/>
        <xs:attribute name="accService" type="acc-service"/>
	</xs:complexType>
    
    <xs:complexType name="TreeView">
        <xs:complexContent>
            <xs:extension base="View">
                <xs:attribute name="dataSourceId" type="data-source-id" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

	<xs:complexType name="AbstractView">
        <xs:complexContent>
            <xs:extension base="View">
        		<xs:sequence>
        			<xs:element name="blob" minOccurs="0">
        				<xs:complexType>
        					<xs:attribute name="path" type="field-path"/>
        					<xs:attribute name="model" type="object-type"/>
        				</xs:complexType>
        			</xs:element>
        			<xs:choice minOccurs="0" maxOccurs="unbounded">
        				<xs:element ref="context"/>
        				<xs:element name="set">
        					<xs:complexType>
        						<xs:attribute name="target" type="field-path"/>
        						<xs:attribute name="value" type="field-value"/>
        					</xs:complexType>
        				</xs:element>
        				<xs:element name="clear">
        					<xs:complexType>
        						<xs:attribute name="target" type="field-path" use="required"/>
        					</xs:complexType>
        				</xs:element>
                        <xs:element name="context-lookup">
                            <xs:complexType>
                                <xs:attribute name="type" type="object-type"/>
                                <xs:attribute name="key" type="field-path"/>
                            </xs:complexType>
                        </xs:element>
        			</xs:choice>
        		</xs:sequence>
            </xs:extension>
        </xs:complexContent>
	</xs:complexType>
    
	<xs:complexType name="TableView">
		<xs:complexContent>
			<xs:extension base="AbstractView">
				<xs:sequence>
					<xs:element name="sort" minOccurs="0">
						<xs:complexType>
							<xs:attribute name="field" type="field-path" use="required"/>
							<xs:attribute name="order" type="sort-order" use="required"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="display" type="ViewDisplay" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="dataSourceId" type="data-source-id"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="FormView">
		<xs:complexContent>
			<xs:extension base="AbstractView">
				<xs:sequence>
					<xs:element name="layout" type="ViewLayout" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="model" type="object-type"/>
				<xs:attribute name="onSuccess" fixed="reload"/>
				<xs:attribute name="pinnable" fixed="true"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
    
    <xs:complexType name="SearchView">
        <xs:complexContent>
            <xs:extension base="FormView">
                <xs:attribute name="targetView" type="view-id"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

	<xs:complexType name="DetailView">
		<xs:complexContent>
			<xs:extension base="AbstractView">
				<xs:sequence>
					<xs:element name="layout" type="ViewLayout" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="model" type="object-type"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
    
    <xs:complexType name="IframeView">
		<xs:complexContent>
			<xs:extension base="View">
                <xs:sequence>
                    <xs:element ref="context" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="ChartViewDefinition">
        <xs:complexContent>
            <xs:extension base="AbstractView">
                <xs:sequence>
                    <xs:element name="display">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="field" maxOccurs="unbounded">
                                    <xs:complexType>
                                        <xs:attribute name="name" type="field-name" use="required"/>
                                        <xs:attribute name="axis" use="required">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:NMTOKEN">
                                                    <xs:enumeration value="x"/>
                                                    <xs:enumeration value="y"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:attribute>
                                        <xs:attribute name="color" type="xs:string"/>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                            <xs:attribute name="type" fixed="line" use="required"/>
                            <xs:attribute name="default" fixed="true"/>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="dataSourceId" type="data-source-id" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
</xs:schema>
